Importing libraries

In [25]:
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
from pycaret.regression import *
from yahoofinancials import YahooFinancials
import json

We have prepared a list instruments for which we need to import data. yahoofinancials package requires Yahoo ticker symbols. The list contains the ticker symbols and their descriptions. We import that file and extract the tciker symbols and the names as seprarate lists

In [26]:
ticker_details = pd.read_excel("Ticker List.xlsx")
ticker = ticker_details['Ticker'].to_list()
names = ticker_details['Description'].to_list()
ticker_details.head(20)

      Ticker       Description
0       GC=F              Gold
1       SI=F            Silver
2       CL=F         Crude Oil
3      ^GSPC            S&P500
4       PL=F          Platinum
5       HG=F            Copper
6       DX=F      Dollar Index
7       ^VIX  Volatility Index
8        EEM       MSCI EM ETF
9   EURUSD=X          Euro USD
10     ^N100       Euronext100
11     ^IXIC            Nasdaq
12    ^BSESN        Bse sensex
13     ^NSEI          Nifty 50
14      ^DJI               Dow

Once we have the list, we need to define what date range we need to import the data for. The period we have chosen is Jan 2010 till 1st Mar 2020. The reason we did not pull data prior to that is because the Global Financial Crisis (GFC) in 2008â€“09 massively changed the economic and market landscapes. Relationships prior to that period might be of less relevance now.

We create a date-range and write it to an empty dataframe named values where we would extract and paste data we pull from yahoofinancials.

In [27]:
#Creating Date Range and adding them to values table
end_date = '2021-04-01'
start_date = '2010-01-01'
date_range = pd.date_range(start_date,end_date)
values = pd.DataFrame({'Date':date_range})
values['Date'] = pd.to_datetime(values['Date'])

In [28]:
#Extracting Data from Yahoo Finance and Adding them to Values table using date as key
for i in ticker:
    raw_data = YahooFinancials(i)
    raw_data = raw_data.get_historical_price_data(start_date, end_date,'daily')
    df = pd.DataFrame(raw_data[i]['prices'])[['formatted_date','adjclose']]
    df.columns = ['Date1',i]
    df['Date1']= pd.to_datetime(df['Date1'])
    values = values.merge(df,how='left',left_on='Date',right_on='Date1')
    values = values.drop(labels='Date1',axis=1)

In [29]:
#Renaming columns to represent instrument names rather than their ticker codes for ease of readability
names.insert(0,'Date')
values.columns = names

#Front filling the NaN values in the data set
values = values.fillna(method="ffill",axis=0)
values = values.fillna(method="bfill",axis=0)
values.isna().sum()

# Coercing numeric type to all columns except Date
cols=values.columns.drop('Date')
values[cols] = values[cols].apply(pd.to_numeric,errors='coerce').round(decimals=1)

In [1]:
imp = ['Gold','Silver', 'Crude Oil', 'S&P500','MSCI EM ETF']
# Calculating Short term -Historical Returns
change_days = [1,3,5,14,21]
data = pd.DataFrame(data=values['Date'])
for i in change_days:
    print(data.shape)
    x= values[cols].pct_change(periods=i).add_suffix("-T-"+str(i))
    data=pd.concat(objs=(data,x),axis=1)
    x=[]
    print(data.shape)
# Calculating Long term Historical Returns
change_days = [60,90,180,250]
for i in change_days:
    print(data.shape)
    x= values[imp].pct_change(periods=i).add_suffix("-T-"+str(i))
    data=pd.concat(objs=(data,x),axis=1)
    x=[]

NameError: name 'pd' is not defined

In [31]:
#Calculating Moving averages for Gold
moving_avg = pd.DataFrame(values['Date'],columns=['Date'])
moving_avg['Date']=pd.to_datetime(moving_avg['Date'],format='%Y-%b-%d')
#Adding Simple Moving Average
moving_avg['Gold/15SMA'] = (values['Gold']/(values['Gold'].rolling(window=15).mean()))-1
moving_avg['Gold/30SMA'] = (values['Gold']/(values['Gold'].rolling(window=30).mean()))-1
moving_avg['Gold/60SMA'] = (values['Gold']/(values['Gold'].rolling(window=60).mean()))-1
moving_avg['Gold/90SMA'] = (values['Gold']/(values['Gold'].rolling(window=90).mean()))-1
moving_avg['Gold/180SMA'] = (values['Gold']/(values['Gold'].rolling(window=180).mean()))-1
#Adding Exponential Moving Average
moving_avg['Gold/90EMA'] = (values['Gold']/(values['Gold'].ewm(span=90,adjust=True,ignore_na=True).mean()))-1
moving_avg['Gold/180EMA'] = (values['Gold']/(values['Gold'].ewm(span=180,adjust=True,ignore_na=True).mean()))-1
moving_avg = moving_avg.dropna(axis=0)
print(moving_avg.shape)
moving_avg.head(20)

(3930, 8)

,Date,Gold/15SMA,Gold/30SMA,Gold/60SMA,Gold/90SMA,Gold/180SMA,Gold/90EMA,Gold/180EMA
179,2010-06-29,-0.003125,0.005790,0.018932,0.038923,0.077814,0.033400,0.052983
180,2010-06-30,-0.000973,0.007719,0.020890,0.040686,0.080186,0.035470,0.055197
181,2010-07-01,-0.031224,-0.023510,-0.011594,0.007173,0.045743,0.002816,0.021700
182,2010-07-02,-0.028255,-0.022272,-0.011026,0.007322,0.046244,0.003647,0.022338
183,2010-07-03,-0.025651,-0.022248,-0.011550,0.006554,0.045793,0.003565,0.022048
184,2010-07-04,-0.023034,-0.022016,-0.011992,0.005860,0.045343,0.003485,0.021762
185,2010-07-05,-0.020402,-0.021783,-0.012134,0.005188,0.044984,0.003407,0.021481
186,2010-07-06,-0.028265,-0.031432,-0.022240,-0.005693,0.033772,-0.006908,0.010683
187,2010-07-07,-0.022987,-0.027281,-0.018978,-0.002959,0.036759,-0.003666,0.013720
188,2010-07-08,-0.023236,-0.028287,-0.021080,-0.005607,0.034051,-0.005860,0.011207
189,2010-07-09,-0.010028,-0.016569,-0.009907,0.005418,0.045626,0.005487,0.022583
190,2010-07-10,-0.007527,-0.016271,-0.009768,0.004968,0.045330,0.005364,0.022293
191,2010-07-11,-0.005012,-0.015756,-0.009320,0.004523,0.044925,0.005243,0.022008
192,2010-07-12,-0.011035,-0.023983,-0.018005,-0.005114,0.035028,-0.003893,0.012469
193,2010-07-13,0.002551,-0.011512,-0.005687,0.006667,0.047454,0.008219,0.024652
194,2010-07-14,-0.000883,-0.016367,-0.010736,0.000839,0.041459,0.002755,0.018919
195,2010-07-15,0.002262,-0.014635,-0.009409,0.001255,0.042191,0.003749,0.019762
196,2010-07-16,-0.013415,-0.029940,-0.025361,-0.015872,0.024567,-0.012666,0.002761
197,2010-07-17,-0.012354,-0.028367,-0.025011,-0.016340,0.024283,-0.012388,0.002726
198,2010-07-18,-0.011291,-0.026530,-0.024949,-0.016818,0.024046,-0.012116,0.002692

In [32]:
#Merging Moving Average values to the feature space
data['Date']=pd.to_datetime(data['Date'],format='%Y-%b-%d')
data = pd.merge(left=data,right=moving_avg,how='left',on='Date')
print(data.shape)
data.isna().sum()

(4109, 103)

Date               0
Gold-T-1           1
Silver-T-1         1
Crude Oil-T-1      1
S&P500-T-1         1
                ...
Gold/60SMA       179
Gold/90SMA       179
Gold/180SMA      179
Gold/90EMA       179
Gold/180EMA      179
Length: 103, dtype: int64

In [33]:
#Calculating forward returns for Target
y = pd.DataFrame(data=values['Date'])
y['Gold-T+14']=values['Gold'].pct_change(periods=-14)
y['Gold-T+22']=values['Gold'].pct_change(periods=-22)
print(y.shape)
y.isna().sum()
# Removing NAs

data = data[data['Gold-T-250'].notna()]
y = y[y['Gold-T+22'].notna()]
#Adding Target Variables
data = pd.merge(left=data,right=y,how='inner',on='Date',suffixes=(False,False))
print(data.shape)

(4109, 3)
(3837, 105)

For 22 day model...

In [34]:
#We have two target columns. We will remove the T+14 day Target
data_22= data.drop(['Gold-T+14'],axis=1)

In [35]:
a=setup(data_22,target='Gold-T+22',
        ignore_features=['Date'],session_id=11,
        silent=True,profile=False);

In [36]:
compare_models(turbo=True)

ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0, criterion='mse',
                    max_depth=None, max_features='auto', max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0.0,
                    min_impurity_split=None, min_samples_leaf=1,
                    min_samples_split=2, min_weight_fraction_leaf=0.0,
                    n_estimators=100, n_jobs=-1, oob_score=False,
                    random_state=11, verbose=0, warm_start=False)

In [37]:
    knn = create_model('knn')

In [41]:
b=setup(data_22,target='Gold-T+22', ignore_features=['Date'],
        session_id=11,silent=True,profile=False,remove_outliers=True);

Ensemble Models

We can also try to see if bagging/boosting can improve the model performance. We can use the ensemble_model() function in PyCaret to quickly see how ensembling methods can improve results through following codes:

In [63]:
knn_bagged = ensemble_model(knn, method='Bagging')

The above codes will show a similar cross validated score, which did not show much improvement. The results can be seen in the notebook link in the repo.

In [64]:
save_model(model=knn_bagged, model_name='22Day Regressor')

Transformation Pipeline and Model Succesfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=False,
                                       features_todrop=['Date'], id_columns=[],
                                       ml_usecase='regression',
                                       numerical_features=[], target='Gold-T+22',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric...
                 ['trained_model',
                  BaggingRegressor(base_estimator=KNeighborsRegressor(algorithm='auto',
                                                                      leaf_size=30,
                                                                      metric='minkowski',
                                                                      metric_params=None,
                                                                      n_jobs=-1,
                                                                      n_neighbors=5,
                                                                      p=2,
                                                                      weights='uniform'),
                                   bootstrap=True, bootstrap_features=False,
                                   max_features=1.0, max_samples=1.0,
                                   n_estimators=10, n_jobs=None, oob_score=False,
                                   random_state=11, verbose=0,
                                   warm_start=False)]],
          verbose=False),
 '22Day Regressor.pkl')